// Скорей всего некоторые из стилей нужно пристроить в другие более подходящие места

html{
  font-family: "Roboto", sans-serif;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: @c-bg;

  &__header-and-content{}
}

.stop-body-scroll{
  overflow: hidden;
  position: relative;
  height: 100%;
}

.text-highlight {
  padding: 0 3px;
  font-weight: @fw-bold;
  background: #ffd800;
  color: @c-main-black;
}