// Скорей всего некоторые из стилей нужно пристроить в другие более подходящие места

html{
  font-family: "Roboto", sans-serif;
}

.main-wrapper{
  background-color: @c-bg;
}

.stop-body-scroll{
  overflow: hidden;
  position: relative;
  height: 100%;
}

.text-highlight {
  padding: 0 3px;
  font-weight: 800;
  background: #ffd800;
  color: @c-main-black;
}