//========================================
/* Old Variables (for compare)
@background-color: #aed8ae;


@link-color: #339933;
@link-border: #c1e0c1;

@link-hover-color: #ff9900;
@link-hover-border: #ff9900;


@error-color: #c00;
@success-color: #009900;


@button-1-color: #ffd800;
@button-1-color-hover: #ffcc00;

@button-2-color: #fddd9e;
@button-2-color-hover: #fddd9e;


@background-notify-2: #f4efdd;
@background-notify: #ece3c5;*/

@c-main-black: #333333;
@c-main-green: #009247;
@c-main-orange: #ff9900;
@c-bg: #d4f1d4;
@c-info-bg: #f6efdc;
@c-yellow: #ffcb65;
@c-border: #cb9933;

@c-text: #666666;

@s-max-w: 940px;

@font-size-1: 48px;
@font-size-2: 32px;
@font-size-3: 24px;
@font-size-4: 20px;

@border-radius: 3px;
@border-radius-big: 5px;

@lh-for-big: 1.2;
@lh-for-small: 1.5;

@hor-indent: 40px;
@hor-indent-s: 20px;

//========================================
//========================================
//========================================
//========================================
