@media all and (max-width: 840px){
  .available-loan{
    padding: 20px @hor-indent-s;
  }
}

@media all and (max-width: 768px){
  .available-loan{
    &__text-wrap{
      font-size: @fz-4;
    }
  }
}

@media all and (max-width: 700px){
  .available-loan{
    background-size: 124px 59px;
  }
}

@media all and (max-width: 600px){
  .available-loan{
    background-position: 100% 40px;
  }
}

@media all and (max-width: 540px){
  .available-loan{
    flex-wrap: wrap;
    background-position: bottom right;
    background-size: 172px 82px;

    &__text-wrap{
      width: 100%;
      font-size: 16px;
    }

    &__btn-wrap{
      margin-top: 15px;
    }
  }
}

@media all and (max-width: 460px){
  .available-loan{
    background-size: 124px 59px;
  }
}