@media all and (max-width: 800px){
  .data-list{
    &__item{
      width: 50%;

      &--full{
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 540px){
  .data-list{
    &__item{
      width: 100%;

      &--first-elements{
        order: -1;
      }
    }
  }
}