@media all and (max-width: 470px){
  .history-loans{
    &__row{
      margin-top: 7px;
      font-size: 14px;

      &:first-child{
        font-size: 14px;
      }

      &:nth-child(2){
        margin-top: 10px;
      }
    }

    &__col{
      width: 130px;

      &:nth-child(2){
        width: 80px;
      }

      &:nth-child(3){
        width: 65px;
      }
    }

    &__hide-on-small{
      display: none;
    }
  }
}