@media all and (max-width: 840px) {
  .obtaining-method-tabs{
    &__tab{
      margin: 30px @hor-indent-s 0;
    }
  }
}

@media all and (max-width: 768px) {
  .obtaining-method-tabs{
    &__2-cols{
      margin-left: ~'calc(50% - 150px)';
      flex-direction: column;
    }

    &__col{
      width: auto;

      & + &{
        margin-top: 25px;
        margin-left: 0;
      }
    }

    &__field{
      &--iban{
        margin-left: 0;
      }
    }

    &__popup-link-wrap{
      margin-left: 0;
      font-size: 14px;
    }
  }
}

@media all and (max-width: 700px) {
  .obtaining-method-tabs{
    &__processing-img-wrap{
      padding-top: 30px;
    }

    &__protects-list{
      flex-wrap: wrap;
    }

    &__protects-item{}
  }
}

@media all and (max-width: 425px) {
  .obtaining-method-tabs{
    &__title{
      text-align: left;
    }

    &__clarification{
      margin-top: 10px;
      font-size: 14px;
      text-align: left;
    }

    &__2-cols{
      margin-top: 20px;
      margin-left: 0;
    }

    &__col{
      width: 100%;

      & + &{
        margin-top: 20px;
      }
    }

    &__field{
      max-width: 100%;
    }

    &__info-title{
      font-size: 14px;
    }

    &__iban-info{
      margin-top: 15px;
    }

    &__popup-link-wrap{
      font-size: 12px;
    }

    &__data-protect{
      font-size: 14px;
    }
  }
}