@media all and (max-width: 1024px){
  .personal-area{
    &__menu{
      display: none;
    }

    &__title{
      margin-top: 35px;
    }
  }
}

@media all and (max-width: 840px){
  .personal-area{
    &__title{
      padding: 0 @hor-indent-s;
    }

    &__info-block{
      margin: 20px @hor-indent-s 0;
    }
  }
}

@media all and (max-width: 768px){
  .personal-area{
    &__title{
      font-size: @font-size-2;
    }

    &__info-block{
      margin-top: 10px;
    }
  }
}