@media all and (max-width: 630px){
  .promocode{
    &__where-get{
      position: static;
      margin-top: 13px;
    }
  }
}

@media all and (max-width: 540px){
  .promocode{
    &__field-wrap{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__input-wrap{
      margin: 0;
      width: calc(100% - 133px);
    }

    &__where-get{
      width: 100%;
    }

    &__activate-btn-wrap{
      position: static;
      margin-left: 15px;
    }
  }
}

@media all and (max-width: 425px){
  .promocode{
  }
}