.promocode{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: @c-info-bg;

  &.is-activated{
    .promocode{
      &__field-wrap{
        display: none;
      }

      &__activated{
        display: block;
      }
    }
  }

  &__field-wrap{
    position: relative;

    &.is-filled{
      .promocode{
        &__activate-btn-wrap{
          display: block;
        }
      }
    }
  }

  &__where-get{
    position: absolute;
    right: calc(100% + 20px);
    bottom: 0;
  }

  &__input-wrap{
    margin: auto;
    max-width: 220px;
    display: inline-block;
  }

  &__input{}

  &__status{}

  &__activate-btn-wrap{
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
  }

  &__activate-btn{}

  &__activated{
    display: none;
    font-weight: @fw-bold;
    color: @c-main-black;
    text-align: center;
  }

  &__info{}

  &__cancel-wrap{}

  &__cancel{}
}