.answer {
  display: flex;

  &__col-1 {
    max-width: 560px;
    width: 100%;
  }

  &__col-2 {
    margin-left: 10px;
    max-width: 240px;
    width: 100%;
  }

  &__title {
    font-size: @fz-1;
    font-weight: bold;
    color: @c-main-black;
  }

  &__question-list {
    counter-reset: question-list;

    &--first-level{
      margin-top: 13px;

      & > .answer__question-list-item{
        margin-bottom: 20px;
      }
    }

    .answer {
      &__question-list {
        margin: 10px 0 35px 20px;
      }
    }
  }

  &__question-list-item {
    & + & {
      margin-top: 15px;
    }
  }

  &__question-list-title {
    font-size: @fz-2;
    margin: 0;
    font-weight: normal;
    display: inline;
    cursor: pointer;

    &::before{
      counter-increment: question-list;
      content: counters(question-list, ".") ". ";
    }

    &.is-active{
      background: #ece3c5;
      padding: 3px 0 5px 0;
      box-shadow: 13px 0 0 0 #ece3c5, -7px 0 0 0 #ece3c5;
    }
  }

  &__question-list-subtitle {
    font-size: @fz-4;
    margin: 0;
    font-weight: normal;
    display: inline;
    cursor: pointer;

    &::before{
      counter-increment: question-list;
      content: counters(question-list, ".") ". ";
    }

    &.is-active{
      background: #ece3c5;
      padding: 2px 0 4px 0;
      box-shadow: 10px 0 0 0 #ece3c5, -7px 0 0 0 #ece3c5;
    }

    &--indent{
      //padding-left: 40px;
    }
  }

  &__question-answer {
  }

  &__question-item-text {
    margin: 18px 0;
  }
  
  &__nav-block{
    margin-top: 25px;
    background: #f4efdd;
  }

  &__nav-list{
    padding: 45px 10px 25px 40px;
  }

  &__nav-list-item{
    margin-bottom: 17px;
  }

  &__consultant{
    margin-top: 20px;
    //border: 1px solid #ccc;
    padding: 30px 15px 37px 40px;
  }

  &__consultant-link-wrap{
    margin-top: 25px;
  }
}