.check-button{
  &:hover{
    background: @background-notify-2;
  }
  &:focus{
    background: @background-notify-2;
  }
  &:active{
    background: @background-notify-2;
  }
  &:disabled, &--disabled{
    background: #cccccc !important;
    border: 1px solid #999999 !important;
    color: #999999 !important;
    cursor: default !important;
    box-shadow: none !important;
  }
  &--active{
    box-shadow: inset 1px 1px 3px 0px rgba(51, 51, 0, 0.25);
    background: @background-notify-2;
  }
  display: block;
  padding: 8px 18px;
  border: 1px solid #999999;
  border-radius: 4px;
  color: #333333;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  background: #ffffff;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 940px){
  .check-button{
    font-size: 18px;
  }
}
@media screen and (max-width: 500px){
  .check-button{
    max-width: 100%;
    width: 100%;
  }
}
