@media all and (max-width: 840px) {
  .discounts-inst {
    padding: 50px @hor-indent-s 30px;

    &__inst-img-wrap {
      width: 40%;
    }
  }
}

@media all and (max-width: 400px) {
  .discounts-inst {
    &__inst-img-wrap {
      margin-top: 20px;
    }
  }
}