.button{
  display: flex;
  align-items: center;
  height: @btn-input-height;
  padding: 0 15px;
  font-size: 16px;
  line-height: 40px;

  font-weight: @fw-bold;
  border-radius: @border-radius;
  color: @c-main-black;
  user-select: none;
  outline: none;
  cursor: pointer;

  &--t-yellow{
    border: 1px solid @c-border;
    background-color: @c-yellow;

    &:hover, &:focus{
      background-color: @c-yellow-hover;
    }
  }

  &--t-grey{
    border: 1px solid #999999;
    background: @btn-grey-gradient;
    box-shadow: @default-shadow;

    &:hover, &:focus{
      border-color: @c-border;
    }
  }

  &--s-medium{
    padding: 0 50px;
  }

  &--s-full{
    width: 100%;
    max-width: 100%;
  }

  &--s-full-on-small{}

  &.is-disabled, &:disabled{
    font-weight: @fw-norm;
    background-color: #999999;
    border-color: #656565;
    cursor: not-allowed;
  }

  &__text{
    margin: 0 auto;
    white-space: nowrap;
  }
}