

.popup-box {
  background: #fff;
  padding: 5px 40px;
  margin: 0px 0 20px;
}



.prolongation-popup{
  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
  }
  &__description {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    color: #666666;
    max-width: 690px;
    margin: 20px auto 20px;
  }

  &__payment-row {
    background: #f3eedc;
    font-size: 0;
    padding: 15px 15px;
    border-radius: 4px;;
  }

  &__select-wrap {
    display: inline-block;
    max-width: 220px;
  }

  &__day-select {
    display: inline-block;
    text-align: left;
    max-width: 46%;
    width: 100%;
    vertical-align: top;
  }

  &__partial-redemption {
    display: inline-block;
    max-width: 54%;
    width: 100%;
    text-align: right;
    vertical-align: top;
  }

  &__info-label {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-right: 8px;
    &.mobile-only{
      display: none;
    }
  }

  &__select-wrap .selecter {
    width: 220px;
  }

  &__select-wrap .selecter-selected {
    height: 40px;
    font-size: 24px !important;
    padding: 3px 15px 0 9px;
  }
  &__total-cost {
    span{
      color: #333333;
    }
    font-size: 32px;
    margin-top: 20px;
    color: #333333;
  }

  &__info-block {
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
  }

  &__info-text {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    margin: 10px 0 0;
  }

  &__payment {
    font-size: 0;
    box-sizing: border-box;
    padding: 20px 20px 0;
  }

  &__left-wrap {
    display: inline-block;
    max-width: 60%;
    width: 100%;
    text-align: left;
    vertical-align: top;
  }

  &__right-wrap {
    display: inline-block;
    max-width: 40%;
    width: 100%;
    text-align: right;
    vertical-align: top;
  }

  &__accept {
    vertical-align: top;
  }

  &__left-wrap .box-check {
    margin-top: 10px;
  }

  &__left-wrap .box-check .deselect-text .line.text {
    margin-left: 10px;
  }

  &__left-wrap .box-check span {
    margin-top: 2px;
  }

  &__partial-redemption &__partial-payment {
    border: 1px solid #999999;
    padding: 5px 35px 5px 10px;
    box-sizing: border-box;
    height: auto;
    font-size: 24px;
    max-width: 220px;
    margin-top: 0;
    color: #333333;
  }

  &__partial-redemption &__partial-payment--success {
    border: 1px solid #696;
    background: #d4f1d4;
    background-image: url(/images/check.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: ~'calc(100% - 8px)' center;
  }

  &__partial-redemption &__partial-payment--error {
    border: 1px solid #c00;
    background: #fcc;
  }

  &__select-wrap-button {
    font-size: 24px;
    text-align: left;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 #ddd inset;
    background-image: url(/images/down-arrow.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: ~'calc(100% - 10px)';
  }

}
.modalbox .enter-btn.prolongation-button.krayola {
  padding: 12px 10px 10px;
  margin: 0;
  position: static;
}
.prolongation-modal .sms-confirm {
  text-align: left;
  color: #666;
  padding: 25px 20px 0;
  border-top: none;
}
