@media screen and (min-width: 786px){
  .mobile-footer{
    display: none;
  }
}
@media screen and (max-width: 786px){
  .footer{
    &-discount{
      display: none;
    }
  }
  .footer .footer-container{
    display: none;
  }
  .mobile-footer{
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    text-align: center;
    &__title{
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      font-weight: bold;
      margin: 0;
    }
    &__help-block{
      &:first-child{
        margin-top: 0;
      }
      margin-top: 20px;
      text-align: center;
    }
    &__block-title{
      font-size: 16px;
      line-height: 1.5;
      color: #ffffff;
      font-weight: bold;
      margin: 0;
    }
    &__time-of-work{
      font-size: 14px;
      line-height: 1.5;
      color: #666666;
      margin: 0;
    }
    &__phone{
       white-space: nowrap;
      font-size: 24px;
      text-align: center;
      color: #999999;
      display: inline-block;
      line-height: 1.2;
      margin: 0 0 0 0;
    }
    &__buttons-wrap{
      display: flex;
      justify-content: space-between;
      max-width: 260px;
      margin: 15px auto 0;
    }
    &__button{
      color: #ffffff;
      padding: 8px 35px 8px 10px;
      display: inline-block;
      margin: 0 10px;
      border-radius: 4px;
      vertical-align: text-top;
      position: relative;
      &:after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        position: absolute;
        margin-top: -2px;
        background-size: 20px;
      }
      &--whatsapp{
        background: #009247;
        &:after{
          background: url(/images/whatsapp_icon.svg) no-repeat;
          background-size: 20px;
        }
      }
      &--telegram{
        background: #419fd9;
        &:after{
          background: url(/images/telegram_icon.svg) no-repeat;
          background-size: 20px;
        }
      }
    }

    &__discount-block{
      margin-top: 20px;
    }
    &__discount-link{
      display: inline-block;
      max-width: 220px;
    }
    &__discount-img{
      max-width: 100%;
    }
    &__menu-list{
      margin: 20px 0 20px;
      list-style-type: none;
      text-align: center;
    }
    &__menu-item{
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 8px;
    }

    &__social-list{
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 10px 0 0 ;
    }
    &__social-item{
      max-width: 100%;
      margin: 0 5px;
      &--inst{
        position: relative;
        &:after{
          content: '';
          display: block;
          position: absolute;
          background: #ff0000;
          width: 16px;
          height: 16px;
          top: -1px;
          right: -1px;
          border-radius: 50%;
        }
      }
      a{
        svg{
          max-width: 50px;
          width: 100%;
        }
      }
    }

  }
}
