<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./images/dopokz/style.css" />
    <script type='text/javascript' src='./images/dopokz/jquery-1.11.0.min.js'></script>
    <script type='text/javascript' src='./images/dopokz/dopo.js'></script>
  </head>
  <body class="body-processing">
    <div class="card-block">
      <div class="info">
        <div class="title">Отказано в проведении платежа</div>
        <div class="meta">
          <div class="list">
            <div class="node">
              <span class="label">Получатель:</span> www.dopo.kz
            </div>
            <div class="node">
              <span class="label">Номер заказа:</span> 100009
            </div>
            <div class="node">
              <span class="label">Сумма платежа:</span> 33 700 KZT
            </div>
            <div class="node">
              <span class="label">Номер транзакции:</span> 000000000098
            </div>
          </div>
        </div>
        <div class="closed-online-pay"><span>Ваша карта не доступна для интернет-платежей.</span><br />Для подключения, обратитесь в банк.</div>
        <div class="meta">На вашей платежной карте размещен логотип банка,<br />а на обратной стороне &mdash; номер телефона.</div>
        <div class="btns">
          <a class="btn" href="javascript:;">Повторить</a>
        </div>
      </div>
      <div class="logos">
        <img src="./images/dopokz/logo-processing.png" alt="Processing.kz e-commerce and internet acquiring" title="Processing.kz e-commerce and internet acquiring" class="first-child" />
        <img src="./images/dopokz/logo-visa.png" alt="Verified by visa" title="Verified by visa" />
        <img src="./images/dopokz/logo-trustwave.png" alt="TrustWave Security with Trust" title="TrustWave Security with Trust" />
        <img src="./images/dopokz/logo-mastercard.png" alt="MasterCard SecureCode" title="MasterCard SecureCode" />
        <img src="./images/dopokz/logo-pci.png" alt="PCI Security Standards Council" title="PCI Security Standards Council" class="last-child" />
      </div>
    </div>
  </body>
</html>