@media all and (max-width: 425px) {
  .button--big-in-small {
    width: 425px;
    max-width: 100%;
  }
}
@media all and (max-width: 900px) {
  .alarm-info {
    padding: 25px;
  }
}
@media all and (max-width: 670px) {
  .alarm-info {
    padding: 10px 15px;
  }
}
@media all and (max-width: 580px) {
  .alarm-info {
    font-size: 14px;
  }
  .alarm-info__text + .alarm-info__text {
    margin-top: 13px;
  }
}
@media all and (max-width: 768px) {
  .field__clarification {
    position: static;
    margin-top: 5px;
    width: 100%;
  }
}
@media all and (max-width: 670px) {
  .clarification {
    padding: 10px 15px;
  }
}
@media all and (max-width: 580px) {
  .clarification {
    font-size: 14px;
  }
}
@media all and (max-width: 425px) {
  .row-list--text {
    font-size: 14px;
  }
}
@media all and (max-width: 1024px) {
  .header {
    background: #d4f1d4;
  }
  .header__desktop {
    display: none;
  }
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .header--fixed {
    height: 50px;
  }
  .header--fixed .header-mobile {
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
  }
  .header-mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #d4f1d4;
  }
  .header-mobile__hamburger {
    opacity: 1;
  }
  .header-mobile__hamburger.hamburger--open {
    opacity: 0;
    -webkit-transition: 0.5s ease opacity;
    transition: 0.5s ease opacity;
  }
  .header-mobile__hamburger-wrap {
    display: inline-block;
    vertical-align: top;
    max-width: 82px;
    min-width: 82px;
    min-height: 50px;
    width: 100%;
  }
  .header-mobile__logo-wrap {
    margin: 2px auto 0;
    font-size: 0;
  }
  .header-mobile__logo {
    max-width: 160px;
    width: 100%;
  }
  .header-mobile__login-wrap {
    width: 82px;
    height: 50px;
    line-height: 1;
  }
  .header-mobile__lk {
    margin-left: auto;
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px 13px;
    background: url("/img/mobile-header_user.svg") no-repeat center / 30px;
  }
  .header-mobile__login-button {
    margin-top: 10px;
    display: inline-block;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 4px;
    background: #aed8ae;
    color: #333333;
  }
  .header-mobile__menu-wrap {
    position: relative;
  }
  .header-mobile__fade-block {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    display: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }
}
@media screen and (max-width: 420px) {
  .header-mobile__hamburger-wrap {
    min-width: 72px;
    max-width: 72px;
  }
  .header-mobile__logo-wrap {
    margin-top: 0;
  }
  .header-mobile__login-wrap {
    width: 72px;
  }
  .header-mobile__login-button {
    font-size: 12px;
    padding: 7px 10px;
    margin-top: 12px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 360px) {
  .header-mobile__logo {
    max-width: 140px;
  }
}
@media screen and (max-width: 1024px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    width: 100%;
    max-width: 350px;
    height: 100vh;
    max-height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 70px;
    overflow-y: auto;
    background: #333333;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .mobile-menu__header {
    padding-bottom: 25px;
    background: url("/img/mob-menu_money.png") no-repeat right bottom;
  }
  .mobile-menu__header--empty {
    padding-bottom: 0;
    background: none;
  }
  .mobile-menu__header--no-money {
    background: none;
  }
  .mobile-menu__hamburger {
    opacity: 0;
  }
  .mobile-menu--show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .mobile-menu--show .mobile-menu__hamburger {
    opacity: 1;
    -webkit-transition: 1.5s ease opacity;
    transition: 1.5s ease opacity;
  }
  .mobile-menu__menu-wrap {
    margin: 0;
    padding: 0;
  }
  .mobile-menu__item {
    background: #009247;
  }
  .mobile-menu__item:not(:first-child) {
    border-top: 1px solid #006d35;
  }
  .mobile-menu__item.mobile-menu__item--active {
    border-top: 1px solid #004b21;
  }
  .mobile-menu__item--active {
    background: #004b21;
  }
  .mobile-menu__item--active + .mobile-menu__item {
    border-top: 1px solid #004b21;
  }
  .mobile-menu__item--relative {
    position: relative;
  }
  .mobile-menu__link {
    display: block;
    padding: 8px 0 8px 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
  }
  .mobile-menu__link--bold {
    font-weight: bold;
  }
  .mobile-menu__sale-in-app {
    padding: 10px 30px;
    font-size: 0;
    background: #262626;
  }
  .mobile-menu__sale-text {
    margin: 0;
    display: inline-block;
    max-width: 45%;
    padding-top: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
  }
  .mobile-menu__sale-text .text-highlight {
    color: #333333;
  }
  .mobile-menu__app-link {
    display: inline-block;
    width: 100%;
    max-width: 55%;
    text-align: right;
  }
  .mobile-menu__sale-img {
    display: inline-block;
    max-width: 100%;
  }
  .mobile-menu__call-center-wrap {
    width: 100%;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  .mobile-menu__call-center-title {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .mobile-menu__call-center-button {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 5px 15px 30px;
    background: #009247;
    font-size: 20px;
    line-height: 1;
    border-radius: 5px;
    color: #ffffff;
  }
  .mobile-menu__call-center-button:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: #006d35 url(/img/mobile-header_phone-white.svg) no-repeat center center;
    background-size: 20px 20px;
    border-radius: 50%;
  }
  .mobile-menu__available-amount {
    margin: 10px 0 0 15px;
    font-size: 16px;
    color: #ffffff;
  }
  .mobile-menu__available-amount-bold {
    color: #ffffff;
    font-weight: bold;
  }
  .mobile-menu__logout-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 15px;
    font-size: 12px;
    line-height: 1;
    color: #66cc66;
    text-transform: uppercase;
  }
  .mobile-menu__issue-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0 0 15px;
  }
  .mobile-menu__issue-btn.enter-btn {
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .mobile-menu__right-protection {
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu {
    max-width: 310px;
  }
  .mobile-menu__sale-in-app {
    padding: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .hamburger {
    position: relative;
    z-index: 100;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .hamburger--open .hamburger__item--top {
    top: 24px;
    left: 15px;
    background: #ffffff;
    -webkit-transform: rotateZ(225deg);
            transform: rotateZ(225deg);
  }
  .hamburger--open .hamburger__item--middle {
    opacity: 0;
  }
  .hamburger--open .hamburger__item--bottom {
    top: 24px;
    left: 15px;
    background: #ffffff;
    -webkit-transform: rotateZ(-225deg);
    transform: rotateZ(-225deg);
  }
  .hamburger__item {
    position: absolute;
    margin: 0 0 5px;
    display: block;
    height: 3px;
    width: 24px;
    background: #3c3c3b;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .hamburger__item--top {
    top: 16px;
    left: 13px;
  }
  .hamburger__item--middle {
    top: 23px;
    left: 13px;
  }
  .hamburger__item--bottom {
    top: 30px;
    left: 13px;
  }
}
@media all and (max-width: 1024px) {
  .personal-area__menu {
    display: none;
  }
  .personal-area__title {
    padding-top: 35px;
  }
  .personal-area__small-title {
    padding-top: 35px;
  }
}
@media all and (max-width: 840px) {
  .personal-area__title {
    margin: 0 20px;
  }
  .personal-area__small-title {
    margin: 0 20px;
  }
  .personal-area__text {
    margin: 10px 20px 0;
  }
  .personal-area__minor-text {
    margin: 10px 20px 0;
  }
  .personal-area__btn-wrap {
    margin: 15px 20px 0;
  }
  .personal-area__big-info {
    margin: 25px 20px 0;
  }
  .personal-area__btn-with-descr {
    margin: 30px 20px 0;
  }
  .personal-area__work-time {
    margin: 30px 20px 0;
  }
  .personal-area__work-time-img {
    margin: 0;
  }
  .personal-area__info-block {
    margin: 20px 20px 0;
  }
  .personal-area__history-loans {
    margin: 20px 20px 0;
  }
  .personal-area__form-with-info {
    margin: 20px 20px 0;
  }
}
@media all and (max-width: 768px) {
  .personal-area {
    padding-top: 0;
  }
  .personal-area__title {
    font-size: 32px;
  }
  .personal-area__small-title {
    font-size: 24px;
  }
  .personal-area__small-title--center {
    margin-top: 10px;
    padding-top: 20px;
  }
  .personal-area__title-select {
    margin-left: -3px;
    padding: 0 4px 1px;
    line-height: 1;
  }
  .personal-area__btn-with-descr {
    margin-top: 25px;
  }
  .personal-area__info-block {
    margin-top: 10px;
  }
}
@media all and (max-width: 560px) {
  .personal-area__clarification {
    margin: 20px 20px 0;
    max-width: 520px;
  }
}
@media all and (max-width: 540px) {
  .personal-area__minor-text {
    margin-top: 15px;
    font-size: 14px;
  }
  .personal-area__big-info {
    margin-top: 20px;
  }
  .personal-area__work-time {
    margin-top: 25px;
  }
  .personal-area__work-time-img {
    margin-top: 5px;
  }
}
@media all and (max-width: 425px) {
  .personal-area__btn-with-descr + .personal-area__info-block {
    margin-top: 20px;
  }
  .personal-area__form {
    margin: 20px 20px 0;
    max-width: 385px;
  }
}
@media screen and (max-width: 768px) {
  .loan-steps__item {
    height: 30px;
    width: 30px;
    font-size: 12px;
    border-width: 1px;
  }
  .loan-steps__item + .loan-steps__item {
    margin-left: 60px;
  }
  .loan-steps__item + .loan-steps__item::before {
    top: 50%;
    left: -61px;
    width: 60px;
    height: 1px;
  }
  .loan-steps__item-num {
    font-size: 14px;
  }
  .loan-steps__item-name {
    top: 35px;
    max-width: 70px;
    line-height: 1.2;
    white-space: initial;
  }
}
@media screen and (max-width: 425px) {
  .loan-steps {
    padding-bottom: 40px;
  }
}
@media all and (max-width: 840px) {
  .available-loan {
    padding: 20px 20px;
  }
}
@media all and (max-width: 768px) {
  .available-loan__text-wrap {
    font-size: 20px;
  }
}
@media all and (max-width: 700px) {
  .available-loan {
    background-size: 124px 59px;
  }
}
@media all and (max-width: 600px) {
  .available-loan {
    background-position: 100% 40px;
  }
}
@media all and (max-width: 540px) {
  .available-loan {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-position: bottom right;
    background-size: 172px 82px;
  }
  .available-loan__text-wrap {
    width: 100%;
    font-size: 16px;
  }
  .available-loan__btn-wrap {
    margin-top: 15px;
    margin-left: 0;
  }
}
@media all and (max-width: 460px) {
  .available-loan {
    background-size: 124px 59px;
  }
}
@media all and (max-width: 840px) {
  .big-info {
    padding: 15px 15px 10px;
  }
}
@media all and (max-width: 768px) {
  .big-info__item + .big-info__item {
    margin-left: 60px;
  }
  .big-info__name {
    font-size: 20px;
  }
  .big-info__value {
    margin-top: 10px;
    font-size: 32px;
  }
}
@media all and (max-width: 540px) {
  .big-info__item + .big-info__item {
    margin-left: 40px;
  }
  .big-info__name {
    font-size: 16px;
  }
  .big-info__value {
    margin-top: 10px;
    font-size: 16px;
  }
}
@media all and (max-width: 425px) {
  .big-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 15px;
  }
  .big-info__item {
    width: 100%;
  }
  .big-info__item + .big-info__item {
    margin-left: 0;
    margin-top: 10px;
  }
  .big-info__name {
    display: inline;
  }
  .big-info__value {
    margin-top: 0;
    display: inline;
  }
}
@media all and (max-width: 425px) {
  .btn-with-descr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .btn-with-descr__text {
    margin-top: 7px;
    font-size: 14px;
    margin-left: 0;
    text-align: center;
  }
}
@media all and (max-width: 840px) {
  .menu {
    padding: 40px 20px 30px;
  }
}
@media all and (max-width: 768px) {
  .info-block__title {
    font-size: 24px;
  }
}
@media all and (max-width: 460px) {
  .info-block__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info-block__title {
    width: 100%;
  }
  .info-block__btn-wrap {
    margin-top: 15px;
    margin-left: 0;
  }
}
@media all and (max-width: 768px) {
  .obtaining-methods {
    padding: 15px 20px 20px;
  }
  .obtaining-methods__title {
    font-size: 24px;
  }
  .obtaining-methods__list {
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .obtaining-methods__item + .obtaining-methods__item {
    margin-top: 15px;
    margin-left: 0;
  }
}
@media all and (max-width: 425px) {
  .obtaining-methods__item {
    width: 100%;
  }
  .obtaining-methods__item + .obtaining-methods__item {
    margin-top: 15px;
    margin-left: 0;
  }
}
@media all and (max-width: 840px) {
  .obtaining-method-tabs__tab {
    margin: 30px 20px 0;
  }
}
@media all and (max-width: 768px) {
  .obtaining-method-tabs__2-cols {
    margin-left: calc(50% - 150px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .obtaining-method-tabs__col {
    width: auto;
  }
  .obtaining-method-tabs__col + .obtaining-method-tabs__col {
    margin-top: 25px;
    margin-left: 0;
  }
  .obtaining-method-tabs__field--iban {
    margin-left: 0;
  }
  .obtaining-method-tabs__popup-link-wrap {
    margin-left: 0;
    font-size: 14px;
  }
}
@media all and (max-width: 425px) {
  .obtaining-method-tabs__title {
    text-align: left;
  }
  .obtaining-method-tabs__clarification {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
  }
  .obtaining-method-tabs__2-cols {
    margin-top: 20px;
    margin-left: 0;
  }
  .obtaining-method-tabs__col {
    width: 100%;
  }
  .obtaining-method-tabs__col + .obtaining-method-tabs__col {
    margin-top: 20px;
  }
  .obtaining-method-tabs__field {
    max-width: 100%;
  }
  .obtaining-method-tabs__info-title {
    font-size: 14px;
  }
  .obtaining-method-tabs__iban-info {
    margin-top: 15px;
  }
  .obtaining-method-tabs__popup-link-wrap {
    font-size: 12px;
  }
  .obtaining-method-tabs__list-title {
    margin-top: 10px;
    font-size: 14px;
  }
}
@media all and (max-width: 800px) {
  .data-list__item {
    width: 50%;
  }
  .data-list__item--full {
    width: 100%;
  }
}
@media all and (max-width: 540px) {
  .data-list__item {
    width: 100%;
  }
  .data-list__item--first-elements {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media all and (max-width: 940px) {
  .fields-list__item-wrap {
    width: 50%;
  }
}
@media all and (max-width: 670px) {
  .fields-list__item-wrap {
    width: 100%;
  }
  .fields-list__item {
    max-width: 280px;
  }
  .fields-list__item--small {
    max-width: 120px;
  }
}
@media all and (max-width: 425px) {
  .fields-list__item {
    max-width: 385px;
  }
}
@media screen and (max-width: 768px) {
  .payment-status__list {
    margin: -10px -10px -5px;
  }
  .payment-status__item {
    margin: 10px;
    width: 130px;
    height: 170px;
    padding: 18px 10px;
    background-size: 52px;
    background-position: 50% 95px;
  }
  .payment-status__text {
    font-size: 14px;
  }
}
@media all and (max-width: 470px) {
  .history-loans__row {
    margin-top: 7px;
  }
  .history-loans__row:nth-child(2) {
    margin-top: 10px;
  }
  .history-loans__col {
    width: 46.5%;
  }
  .history-loans__col:nth-child(2) {
    width: 28.5%;
  }
  .history-loans__col:nth-child(3) {
    width: 25%;
  }
  .history-loans__hide-on-small {
    display: none;
  }
}
@media all and (max-width: 425px) {
  .history-loans__row {
    font-size: 14px;
  }
  .history-loans__row:first-child {
    font-size: 14px;
  }
}
@media all and (max-width: 425px) {
  .col-form__row + .col-form__row {
    margin-top: 15px;
  }
  .col-form__row--with-clarification + .col-form__row {
    margin-top: 20px;
  }
  .col-form__row--with-clarification + .col-form__row--btn-text {
    margin-top: 45px;
  }
}
@media all and (max-width: 900px) {
  .form-with-info__info {
    margin-left: 50px;
  }
}
@media all and (max-width: 670px) {
  .form-with-info__info {
    margin-left: 5%;
    width: 47.5%;
  }
}
@media all and (max-width: 425px) {
  .form-with-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .form-with-info__form {
    margin-top: 30px;
    width: 100%;
    max-width: 385px;
  }
  .form-with-info__info {
    margin-top: 5px;
    margin-left: 0;
    width: 100%;
  }
}
