/* Old Variables (for compare)
@background-color: #aed8ae;


@link-color: #339933;
@link-border: #c1e0c1;

@link-hover-color: #ff9900;
@link-hover-border: #ff9900;


@error-color: #c00;
@success-color: #009900;


@button-1-color: #ffd800;
@button-1-color-hover: #ffcc00;

@button-2-color: #fddd9e;
@button-2-color-hover: #fddd9e;


@background-notify-2: #f4efdd;
@background-notify: #ece3c5;*/
@media all and (max-width: 1024px) {
  .personal-area__menu {
    display: none;
  }
  .personal-area__title {
    margin-top: 35px;
  }
}
@media all and (max-width: 840px) {
  .personal-area__title {
    padding: 0 20px;
  }
  .personal-area__info-block {
    margin: 20px 20px 0;
  }
}
@media all and (max-width: 768px) {
  .personal-area__title {
    font-size: 32px;
  }
  .personal-area__info-block {
    margin-top: 10px;
  }
}
@media all and (max-width: 840px) {
  .available-loan {
    padding: 20px 20px;
  }
}
@media all and (max-width: 768px) {
  .available-loan__text-wrap {
    font-size: 20px;
  }
}
@media all and (max-width: 700px) {
  .available-loan {
    background-size: 124px 59px;
  }
}
@media all and (max-width: 600px) {
  .available-loan {
    background-position: 100% 40px;
  }
}
@media all and (max-width: 540px) {
  .available-loan {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-position: bottom right;
    background-size: 172px 82px;
  }
  .available-loan__text-wrap {
    width: 100%;
    font-size: 16px;
  }
  .available-loan__btn-wrap {
    margin-top: 15px;
  }
}
@media all and (max-width: 460px) {
  .available-loan {
    background-size: 124px 59px;
  }
}
@media all and (max-width: 840px) {
  .menu {
    padding: 40px 20px 30px;
  }
}
@media all and (max-width: 800px) {
  .info-block__data-item {
    width: 50%;
  }
  .info-block__data-item--full {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .info-block__title {
    font-size: 24px;
  }
}
@media all and (max-width: 540px) {
  .info-block__data-item {
    width: 100%;
  }
}
@media all and (max-width: 460px) {
  .info-block__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info-block__title {
    width: 100%;
  }
  .info-block__btn-wrap {
    margin-top: 15px;
  }
}
