@media screen and (min-width: 1024px) {
  .header-mobile{
    display: none;
  }
}
.stop-body-scroll{
  overflow: hidden;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .header-desktop {
    display: none;
  }
  .header{
    margin-bottom: 0;
  }
  .hamburger {
    cursor: pointer;
    height: 30px;
    position: relative;
    z-index: 100;
    width: 30px;
    padding: 10px 10px 10px 0;
    &--open{
      .hamburger__item{
        &--top{
          top: 24px;
          background: #ffffff;
          transform: rotateZ(225deg);
        }
        &--middle{
          opacity: 0;
        }
        &--bottom{
          top: 24px;
          background: #ffffff;
          -moz-transform: rotateZ(-225deg);
          -ms-transform: rotateZ(-225deg);
          -webkit-transform: rotateZ(-225deg);
          -o-transform: rotateZ(-225deg);
          transform: rotateZ(-225deg);
        }
      }
    }
    &__item{
      background: #3c3c3b;
      display: block;
      height: 3px;
      margin: 0 0 5px;
      width: 24px;
      position: absolute;
      transition: all 0.5s ease 0s;
      border-radius: 4px;
      &--top{
        top: 16px;
        left: 3px;
      }
      &--middle{
        top: 23px;
        left: 3px;
      }
      &--bottom{
        top: 30px;
        left: 3px;
      }
    }
  }
  .header--fixed{
    height: 50px;
    .header-mobile{
      position: fixed;
      width: 100%;
      top: 0;
      box-sizing: border-box;
      left:0;

    }
  }
  .header-mobile {
    background: #d4f1d4;
    display: block;
    padding: 20px 30px 0;
    font-size: 0;
    &__hamburger{
      &.hamburger--open{
        opacity: 0;
        transition: 0.5s ease opacity;
      }
      opacity: 1;
    }
    &__menu-item {
      display: inline-block;
      vertical-align: top;
      max-width: 50px;
      min-width: 50px;
      min-height: 50px;
      width: 100%;
    }
    &__logo {
      vertical-align: top;
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      margin-top: 7px;
      max-width: ~'calc(100% - 120px)';
      width: 100%;
      img{
        max-width: 240px;
      }
    }
    &__login-wrap {
      vertical-align: top;
      display: inline-block;
      max-width: 70px;
      text-align: right;
      min-width: 70px;
      margin-top: 9px;
    }
    &__login-button{
      font-size: 14px;
      background-size: 100%;
      background: #aed8ae;
      padding: 7px 10px;
      border-radius: 4px;
      color: #333333;
      text-transform: uppercase;
      display: inline-block;
    }

    &__menu-wrap {
      position: relative;
    }
    &__fade-block{
      position: fixed;
      z-index: 80;
      display: none;
      background: rgba(0,0,0,0.75);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .mobile-menu{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    max-width: 350px;
    height: 100vh;
    max-height: 100%;
    background: #333333;
    transition: 0.3s ease 0s;
    z-index: 90;
    overflow-y: auto;
    transform: translateX(-350px);

    &__hamburger{
      margin-left: 30px;
      top: 20px;
      opacity: 0;
    }
    &--show{
      transform: translateX(0px);
      .mobile-menu__hamburger{
        opacity: 1;
        transition: 1.5s ease opacity;
      }
    }
    &__menu-wrap{
      margin: 0;
      padding: 0;
    }
    &__item{
      &:not(:first-child){
        border-top: 1px solid #006d35;
      }
      &--empty{
        min-height: 90px;
        box-sizing: border-box;
      }
      &.mobile-menu__item--active{
        border-top: 1px solid #262626;
      }
      &--active{
        & + .mobile-menu__item{
          border-top: 1px solid #262626;
        }
        background: #333333;
      }
      background: #009247;
    }
    &__link{
      &--bold{
        font-weight: bold;
      }
      &--icon{}
      &--icon-face{}
      display: block;
      padding: 8px 10px 8px 30px;
      font-size: 16px;
      color: #ffffff;
      line-height: 1.5;
    }

    &__sale-in-app{
      background: #262626;
      font-size: 0;
      padding: 10px 30px;
    }
    &__sale-text{
      display: inline-block;
      font-size: 14px;
      margin: 0;
      padding-top: 5px;
      line-height: 1.5;
      max-width: 45%;
      color: #ffffff;
      vertical-align: top;
      box-sizing: border-box;
      .text-highlight{
        color: #333333;
      }
    }
    &__app-link{
      text-align: right;
      display: inline-block;
      max-width: 55%;
      width: 100%;
    }
    &__sale-img{
      display: inline-block;
      max-width: 100%;
    }

    &__call-center-wrap{
      width: 100%;
      box-sizing: border-box;
      padding: 20px 30px;
      text-align: center;
    }
    &__call-center-title{
      text-transform: uppercase;
      font-size: 12px;
      color: #ffffff;
      display: inline-block;
      margin-bottom: 5px;
    }
    &__call-center-button{
      &:before{
        content: '';
        display: inline-block;
        background:#006d35  url(/images/phone-white.svg) no-repeat center center;
        width: 30px;
        background-size: 20px 20px;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        top: 11px;
        height: 30px;
      }
      background: #009247;
      position: relative;
      box-sizing: border-box;
      font-size: 20px;
      border-radius: 5px;
      padding: 15px 5px 12px 30px;
      display: block;
      color: #ffffff;
    }
  }

}
@media screen and (max-width: 786px){
  .header-mobile{
    padding: 0 2.5%;
    &__logo {
      margin-top: 12px;
    }
    &__login-wrap{
      margin-top: 9px;
    }
    &__logo{
      img{
        max-width: 160px;
      }
    }
  }
  .mobile-menu{
    max-width: 320px;
    &__hamburger{
      margin-left: 10px;
      margin-top: 0;
      top: 0;
      opacity: 0;
    }
    &__item{
      &--empty{
        min-height: 50px;
      }
    }
    &__link{
      padding: 8px 15px;
    }
    &__sale-in-app{
      padding: 10px;
    }
  }
}