@media screen and (max-width: 786px){
  .prolongation-info {
    border-top: none;
    margin-top: 0;

    &__link {
      margin: 20px 0 10px;
    }

    &.open{
      .prolongation-info__text{
        top: -95px;
      }
    }
  }

  .where-promocode{
    left: 6%;
  }
}

@media screen and (max-width: 630px){
  .where-promocode {
    position: static;

    &__link{
      margin: 15px 0 0;
    }
  }
}