.documents-block{
  margin-top: 20px;
  &__title{
    font-size: 24px;
    color: #333333;
    line-height: 1.5;
    margin: 0 0 15px;
  }
  &__doc-list{
    list-style-position: outside;
    margin: 0 0 15px 16px;
  }
  &__doc-item{
    &:not(:last-child){
      margin-bottom: 8px;
    }
    line-height: 1.5;
  }
}