.field{
  width: 100%;
  font-size: @fz-5;

  &__input-wrap{
    position: relative;
    display: block;

    &::after{
      content: '';
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }

    &--calendar{
      &::after{}
    }
  }

  &.has-error{
    .field{
      &__alert{
        display: block;

        &:empty{
          display: none;
        }
      }
    }
  }

  &.show-alert{
    .field{
      &__alert{
        display: block;
      }
    }
  }

  &.is-filled{
    .field{
      &__alert{
        display: block;
      }
    }
  }

  &.is-right{}

  &.is-disabled{}

  &__name{
    margin-bottom: 5px;
    font-weight: @fw-bold;
    line-height: 1.2;
    color: @c-main-black;
  }

  &__input{}

  &__select{}

  &__alert{
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    z-index: 1;
    padding: 0 3px;
    font-size: @fz-7;
    border: 1px solid @c-border;
    border-radius: 2px;
    text-align: right;
    background-color: @c-alarm;
    color: @c-main-black;

    &--in-field{
      top: 10px;
      right: 10px;
      pointer-events: none;
    }
  }

  &__action{
    position: absolute;
    bottom: 47px;
    right: 0;
    font-size: @fz-6;
    line-height: 1;
  }

  &__clarification{
    position: absolute;
    top: -3px;
    left: ~'calc(100% + 20px)';
    width: 200px;
    font-size: @fz-7;
    color: @c-text;
  }

  &__show-pass{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background: url('/img/field_show-pass.png') no-repeat center;
    cursor: pointer;

    &.password-displayed{
      background: url('/img/field_show-pass.png') no-repeat center;
    }
  }

  &__under-input{
    margin-top: 5px;
    line-height: @lh-for-small;
    color: @c-text;
  }
}