.footer{
  &-discount{
    background: #000000;
    text-align: center;
    &__text{
      color: #ffffff;
      vertical-align: top;
      margin: 21px 3px 21px 0;
      font-size: 16px;
      display: inline-block;
      .text-highlight{
        color: #000000;
      }
    }
    a{
      display: inline-block;
    }
    &__inline-img{
      display: block;
    }
  }
}