.payment-status{
  &__list{
    margin: -13.75px -13.75px 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item{
    margin: 13.75px;
    width: 150px;
    height: 200px;
    padding: 18px 15px;
    border-radius: @border-radius-medium;
    background: url("/images_new/payment-status_wait.png") no-repeat 50% 115px, @c-info-bg;
    text-align: center;

    &--paid{
      background-image: url("/images_new/payment-status_paid.png");
    }

    &--overdue{
      background-image: url("/images_new/payment-status_overdue.png");
      background-color: #ffcccc;
    }
  }

  &__text{
    font-size: 16px;
    line-height: 1.5;
    color: @c-main-black;
  }
}