.alarm-info{
  padding:  25px 75px 20px 30px;
  font-size: 16px;
  border: 1px solid @c-border;
  border-radius: @border-radius-medium;
  background-color: @c-alarm;

  &__text{
    color: @c-main-black;

    & + &{
      margin-top: 23px;
    }
  }
}