.info-block{
  padding: 20px @hor-indent 0;
  .dashed-upline(#cccccc);

  &__top{
    display: flex;
    //align-items: center;
  }

  &__title{}

  &__btn-wrap{
    margin-left: auto;
  }

  &__btn{}

  &__data-list{}

  &__payment-status{
    margin-top: 15px;
  }

  &__row-list{
    margin-top: 15px;
  }
}