.loan-sum-date{
  display: flex;
  flex-wrap: wrap;

  &__item{
    width: 50%;
    line-height: 1;
  }

  &__name{
    margin-top: 5px;
    font-size: 16px;
    color: @c-text;
  }

  &__value{
    font-size: @fz-2;
    font-weight: @fw-bold;
    color: @c-main-black;
  }
}