@media all and (max-width: @mq-popup-mobile){
  .loan-sum-date{
    &__item{
      &:first-child{
        width: 57%;
      }

      &:last-child{
        width: 43%;
      }
    }

    &__value{
      font-size: 16px;
    }

    &__name{
      margin-top: 8px;
      font-size: 14px;
    }
  }
}

@media all and (max-width: 425px){
  .loan-sum-date{
  }
}