@media all and (max-width: 900px){
  .alarm-info{
    padding:  25px;
  }
}

@media all and (max-width: 670px){
  .alarm-info{
    padding: 10px 15px;
  }
}

@media all and (max-width: 580px){
  .alarm-info{
    font-size: @fz-6;

    &__text{
      & + &{
        margin-top: 13px;
      }
    }
  }
}