@media screen and (max-width: 1080px) {
  .prolongation-popup{
    &__left-wrap {
      display: block;
      text-align: center;
      max-width: 100%;
    }

    &__right-wrap {
      display: block;
      text-align: center;
      max-width: 100%;
    }

    &__accept &__info-label {
      display: block;
      text-align: center;
      margin-bottom: 5px;
    }

    &__payment-row &__info-label {
      display: block;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .prolongation-popup{
    &__payment {
    }

    &__select-wrap {
      width: 220px;
      display: block;
    }

    &__partial-redemption &__partial-payment {
      width: 220px;
      display: inline-block;
      text-align: right;
    }
  }
}

@media screen and (max-width: 786px) {
  .popup-box{
    padding: 20px 10px ;
  }
  .prolongation-popup{
    &__info-label{
      &.mobile-only{
        display: inline-block;
      }
    }
    &__day-select {
      display: block;
      max-width: 100%;
      text-align: center;
      margin-bottom: 25px
    }

    &__select-wrap .selecter-selected {
      display: none;
    }

    &__select-wrap select {
      display: none;
    }

    &__partial-redemption &__partial-payment {
      text-align: left;
    }

    &__accept &__info-label {
      display: none;
    }

    &__select-wrap {
      margin: 0 auto;
      width: 220px;
      text-align: left;
      display: block;
    }

    &__select-wrap .selecter {
      max-width: 100%;
    }

    &__partial-redemption {
      display: block;
      text-align: center;
      max-width: 100%;
    }

    .member .krayola.prolongation-button {
      float: none;
      padding: 10px;
    }

    .popup-box {
      padding: 15px;
    }

    &__info-block {
      padding-top: 10px;
      border-top: 1px dashed #cccccc;
      margin-top: 15px;
    }

    &__info-block &__info-label {
      margin: 3px 0 10px 0;
    }

    &__left-wrap .box-check .deselect-text .line.text {
      display: inline;
    }

    &__right-wrap {
      margin-top: 10px;
    }
    &__select-wrap-button {
      min-width: 220px;
      width: 100%;
      max-width: 220px;
      line-height: 1;
      padding: 7px 10px;
      color: #333333 !important;
      margin: 0 auto;
      display: block;
      border-color: #999999;
      box-sizing: border-box;
      box-shadow: 1px 2px 10px -2px rgba(102, 102, 102, 0.85);
    }
  }

  .prolongation-modal .modalbox .form-inline .control-group {
    max-width: 220px !important;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    float: none;
  }
}

@media screen and (max-width: 500px) {
  .prolongation-popup{
    &__title {
      font-size: 24px
    }
  
    &__select-wrap-button {
      min-width: 220px;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  
    &__partial-redemption &__partial-payment {
      max-width: 100%;
      width: 100%;
    }
  
    &__select-wrap .selecter {
      width: 100%;
      max-width: 100%;
    }
  
    &__select-wrap .selecter-selected {
      width: 100%;
      max-width: 100%;
    }
  
    &__select-wrap {
      width: 100%;
      max-width: 100%;
    }
  
    .krayola.prolongation-button {
      max-width: 100%;
      width: 100%;
    }
  }
}