.available-loan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px @hor-indent;
  background: url("/img/available-loan_money.png") no-repeat 65% 100%, @c-info-bg;

  &__text-wrap{
    font-size: @fz-3;
    line-height: @lh-for-big;
  }

  &__welcome{
    font-weight: @fw-bold;
    color: @c-main-black;
  }

  &__sum{
    margin-top: 5px;
    color: @c-main-black;
  }

  &__btn-wrap{}

  &__btn{}
}