.big-info{
  display: flex;

  &__item{
    line-height: 1;

    & + &{
      margin-left: 60px;
    }
  }

  &__name{
    font-size: @fz-3;
    color: @c-main-black;
  }

  &__value{
    margin-top: 15px;
    font-size: @fz-1;
    font-weight: @fw-bold;
    color: @c-main-black;
  }
}