.button{
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  padding: 0 15px;
  height: 40px;
  color: @c-main-black;
  cursor: pointer;
  border-radius: @border-radius;

  &--yellow{
    background-color: @c-yellow;
    border: 1px solid @c-border;
  }

  &--grey{
    border: 1px solid #999999;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
    background: -webkit-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0 );
  }

  &--big-in-small{}

  &__text{
    margin: 0 auto;
    white-space: nowrap;
  }
}