.field{
  position: relative;

  &.has-error{
    .field{
      &__input{
        border-color: @c-error;
        background-color: @c-error-bg;
      }

      &__alert{
        display: block;
      }
    }
  }

  &.is-filled{
    .field{
      &__alert{
        display: block;
      }
    }
  }

  &__name{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: @fw-bold;
    line-height: 1.2;
    color: @c-main-black;
  }

  &__input{
    height: 40px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #999999;
    border-radius: @border-radius;
    color: @c-main-black;

    &::placeholder{
      color: @c-minor-text;
    }
  }

  &__alert{
    display: none;
    position: absolute;
    top: ~'calc(100% + 2px)';
    right: 0;
    z-index: 1;
    padding: 0 3px;
    font-size: 12px;
    border: 1px solid @c-border;
    border-radius: 2px;
    text-align: right;
    background-color: @c-alarm;
    color: @c-main-black;
  }

  &__show-pass{}
}