.info-block{
  padding-top: 20px;
  .dashed-upline(#cccccc);

  &__top{
    display: flex;
    //align-items: center;
  }

  &__title{
    font-size: @fz-2;
    color: @c-main-black;
    line-height: @lh-for-big;
    font-weight: @fw-bold;
  }

  &__btn-wrap{
    margin-left: auto;
  }

  &__btn{}

  &__data-list{}

  &__payment-status{
    margin-top: 15px;
  }

  &__row-list{
    margin-top: 15px;
  }
}