.personal-area{
  &__container{
    max-width: @s-max-w;
    margin: 0 auto;
    background-color: #ffffff;
  }

  &__available-loan{}

  &__menu{}

  &__title{
    font-size: 48px;
    font-weight: bold;
  }

  &__info-block{}
}