.personal-area{
  padding-top: @outer-indent;

  &__container{
    max-width: @s-max-w;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #ffffff;
  }

  &__available-loan{}

  &__menu{}

  &__title{
    padding: 0 @hor-indent;
    font-size: @font-size-1;
    line-height: @lh-for-big;
    font-weight: 800;
    color: @c-main-black;
  }

  &__info-block{
    margin: 20px @hor-indent 0;

    & + &{
      margin-top: 27px;
    }
  }
}