.radio-switchers{
  display: flex;
  line-height: 1;

  &__item{
    &:first-child{
      .radio-switchers__button{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }

    &:last-child{
      .radio-switchers__button{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &:nth-child(n+2){
      margin-left: -1px;
    }
  }

  &__input{
    //display: none;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;

    &:checked{
      & ~ .radio-switchers{
        &__button{
          z-index: 2;
          border-color: @c-border;
          background: #efe3bf;
          box-shadow: inset 0 2px 4px rgba(203, 153, 101, 0.75), 0 0;
        }
      }
    }
  }

  &__button{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    max-width: 100%;
    padding: 10px 15px;
    border: 1px solid #999999;
    font-size: 16px;
    color: @c-main-black;
    box-shadow: @inner-gradient, @default-shadow;
    user-select: none;
    cursor: pointer;
  }
}