.row-list{
  &__item{
    position: relative;
    padding-left: 9px;
    font-size: 16px;
    color: @c-text;

    &::before{
      content: '•';
      position: absolute;
      top: 5px;
      left: 0;
      font-size: 12px;
      line-height: 1;
    }

    & + &{
      margin-top: 8px;
    }
  }

  &__link{}
}