.navigation{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  li{
    width: 150px;
  }
}

.squares{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  li{
    width: 150px;
  }
}

.hidden{
  display: none;
}