// Скорей всего некоторые из стилей нужно пристроить в другие более подходящие места

html{
  font-family: "Roboto", sans-serif;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  background-color: @c-bg;

  &__header-and-content{
    margin-bottom: auto;
  }
}

.stop-body-scroll{
  overflow: hidden;
  position: relative;
  height: 100%;
}

.text-highlight{
  padding: 0 3px;
  background: @c-highlight;
  color: @c-main-black;
  border-radius: 3px;
}

.bold{
  font-weight: 800;
}

.normal{
  font-weight: 400;
}

.nowrap{
  white-space: nowrap;
}

.hide{
  display: none;
}

@media all and (max-width: 768px) {
  .tablet-hide{
    display: none;
  }
}
