.row-list{
  font-size: 16px;
  color: @c-text;

  &--ordered{
    counter-reset: list;

    & > .row-list__item{
      &::before{
        counter-increment: list;
        content: counter(list) ".";
        font-size: inherit;
      }
    }
  }

  &--check{
    & > .row-list__item{
      &::before{
        content: '';
        top: 0.2em;
        left: 0;
        width: 1em;
        height: 1em;
        background: url("/img/row-list_check.png") no-repeat center;
      }
    }
  }

  &--text{}

  &__item{
    position: relative;
    padding-left: 1.75em;

    &::before{
      content: '\2022';
      position: absolute;
      top: 0;
      left: 0;
    }

    & + &{
      margin-top: 0.5em;
    }
  }

  &__link{}
}