.how-to-apply{
  padding: 48px 0 50px;
  font-size: 16px;

  &__title{
    margin: 0;
    text-align: center;
  }

  &__items{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: #333333;
  }

  &__item{
    max-width: 230px;
    text-align: center;
  }

  &__item-img-wrap{
    margin: 0 auto;
    font-size: 0;
  }

  &__item-img{
  }

  &__item-text{
    margin-top: 20px;
  }

  &__text{
    margin: 50px auto 0;
    font-size: 20px;
    line-height: 1.5;
    max-width: 800px;
    text-align: center;
    color: #333333;
  }
}