.history-loans{
  &__row{
    margin-top: 0.5em;
    padding: 0 @hor-indent;
    display: flex;
    font-size: @fz-5;
    color: @c-text;

    &:first-child{
      padding-bottom: 10px;
      font-weight: @fw-bold;
      color: @c-main-black;
      background: @dashed-downline-gr;
    }

    &:nth-child(2){
      margin-top: 20px;
    }
  }

  &__col{
    width: 200px;

    &:nth-child(2){
      width: 145px;
    }

    &:nth-child(3){
      width: 75px;
    }
  }

  &__hide-on-small{}

  &__link{
    font-weight: @fw-bold;
  }
}