.knowledge{
  position: fixed;
  right: 10%;
  bottom: 10%;
  width: 300px;
  overflow: hidden;

  &__header{
    padding: 15px 0;
    background-color: #339933;
  }

  &__header-text{
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }

  &__main-container{
    position: relative;
    height: 301px;
    font-size: 16px;
    background-color: #ffffff;
    color: #666666;
    transition: height .3s;

    &--big{
      height: 450px;
    }
  }

  &__search-wrap{
    border-bottom: 2px solid #666666;
  }

  &__search{
    width: 100%;
    height: 50px !important;
    padding: 0 10px !important;
    box-sizing: border-box;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;

    &:focus + .knowledge__search-icon{
      opacity: 1;
    }
  }

  &__search-icon{
    position: absolute;
    top: 16px;
    right: 11px;
    height: 17px;
    width: 17px;
    background: url("/images/knowledge_lens.png") no-repeat center;
    pointer-events: none;
    opacity: .6;
  }

  &__list-wrap{}

  &__cat-list{}

  &__cat-item{
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;

    &::before{
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: #d4f1d4;
    }

    &::after{
      content: "";
      position: absolute;
      top: 18px;
      right: 15px;
      height: 13px;
      width: 8px;
      background: url("/images/knowledge_arrow.png") no-repeat center;
    }

    &:last-child{
      border-bottom: none;
    }

    &:hover{
      background-color: #f6efdc;
    }
  }

  &__cat-item-text{
    padding: 17px 0 16px 50px;
    line-height: 1;
  }

  &__questions-list-wrap{
    position: absolute;
    top: 52px;
    left: 100%;
    width: 100%;
    height: ~"calc(100% - 112px)";
    overflow: auto;
    background-color: #ffffff;
    transition: left .3s;

    &--display{
      left: 0;
    }
  }

  &__questions-list{
  }

  &__questions-item{
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
    line-height: 1.2;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;

    &:last-child{
      border-bottom: none;
    }

    &:hover{
      background-color: #f6efdc;
    }
  }

  &__answer{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    left: 100%;
    height: ~'calc(100% - 60px)';
    width: 100%;
    background-color: #ffffff;
    transition: left .3s;

    &--display{
      left: 0;
    }
  }

  &__answer-title{
    padding: 10px;
    border-bottom: 2px solid #666666;
    font-weight: bold;
    color: #333333;
  }

  &__answer-text-wrap{
    overflow: auto;
    height: 100%;
  }

  &__answer-text{
    height: 100%;
    padding: 0 20px 0 10px;
    font-size: 16px;
    line-height: 1.5;

    p{
      margin: 25px 0;

      &:first-child{
        margin-top: 15px;
      }
    }
  }

  &__back-btn-wrap{
    position: absolute;
    width: 100%;
    left: 100%;
    bottom: 0;
    transition: left .3s;

    &--display{
      left: 0;
    }
  }

  &__back-btn{
    padding: 22px 0;
    font-size: 16px;
    line-height: 1;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }

  &__footer{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #333333;
  }

  &__footer-text-wrap{
    flex-grow: 1;
    padding-left: 10px;
    font-size: 12px;
  }

  &__footer-question{
    color: #ffffff;
  }

  &__footer-work-time{
    margin-top: 3px;
    color: #cccccc;
  }

  &__footer-soc-wrap{
    display: flex;
  }

  &__soc{
    width: 30px;
    height: 30px;
    background-color: #ffffff;

    &:nth-child(n+2){
      margin-left: 10px;
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    background-color: #339933;
    cursor: pointer;
  }

  &__btn-text{
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }
}