@media all and (max-width: 540px){
  .loan-info{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;

    &__col{
      &:first-child{
        width: 57%;
      }

      &:last-child{
        width: 43%;
      }
    }
  }
}