.easy-popup{
  position: fixed;
  z-index: 100001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &--ready{}

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  &__content{
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    text-align: center;

    &::before{
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}

.ep-preloader{
  position: fixed;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 100002;
  background: rgba(0, 0, 0, 0.7) url("/img/preloader.svg") no-repeat center center;
  opacity: 0;
  transition: all 0.4s;

  &--show{
    transition: all 0.2s;
    opacity: 1;
  }
}


// Mixins

.ep-stop-body-scroll{
  overflow: hidden;
  position: relative;
  height: 100%;
}


// Animation

.ep-move-from-top{
  &.easy-popup{
    /* animate */
    &--ready{
      .easy-popup{
        &__container{
          top: 0;
          opacity: 1;
        }

        &__bg{
          opacity: 1;
        }
      }
    }
  }

  .easy-popup{
    /* start state */
    &__bg{
      opacity: 0;
      transition: all 0.3s;
    }

    &__container{
      top: -100px;
      opacity: 0;
      transition: all 0.3s;
    }
  }
}