.main-page {
  @media all and (max-width: 840px) {
    &__how-to-apply {
      padding: 50px @hor-indent-s 30px;
    }

    &__reviews {
      padding: 50px @hor-indent-s 30px;
    }

    &__protection {
      padding: 50px @hor-indent-s 10px;
    }
  }

  @media all and (max-width: 670px){
    padding-top: 0;
  }
}