.protection{
  padding: 60px 0 40px;
  font-size: 16px;

  &__img-wrapper{
    margin: 0 auto;
    max-width: 120px;
    font-size: 0;
  }

  &__img{
  }

  &__title{
    text-align: center;
    margin: 35px 0 0;
  }

  &__text{
    margin-top: 35px;
    text-align: center;
    color: #333333;
  }

  &__btn-wrapper{
    display: flex;
    justify-content: center;
  }

  &__btn{
    margin-top: 30px;
  }
}