@media all and (max-width: 940px){
  .fields-list{
    &__item-wrap{
      width: 50%;
    }
  }
}

@media all and (max-width: 670px){
  .fields-list{
    &__item-wrap{
      width: 100%;
    }

    &__item{
      max-width: 280px;

      &--small{
        max-width: 120px;
      }
    }
  }
}

@media all and (max-width: 425px){
  .fields-list{
    &__item{
      max-width: 385px;
    }
  }
}