@media all and (max-width: 768px){
  .payment-status{
    &__list{
      margin: -10px -10px -5px;
    }

    &__item{
      margin: 10px;
      width: 130px;
      height: 170px;
      padding: 18px 10px;
      background-size: 52px;
      background-position: 50% 95px;
    }

    &__text{
      font-size: 14px;
    }
  }
}

@media all and (max-width: 470px){
  .payment-status{
    &__item{
      width: ~'calc(50% - 20px)';
    }
  }
}