@media all and (max-width: 900px){
  .form-with-info{
    &__info{
      margin-left: 50px;
    }
  }
}

@media all and (max-width: 670px){
  .form-with-info{
    &__info{
      margin-left: 5%;
      width: 47.5%;
    }
  }
}

@media all and (max-width: 425px){
  .form-with-info{
    flex-direction: column-reverse;

    &__form{
      margin-top: 30px;
      width: 100%;
      max-width: 385px;
    }

    &__info{
      margin-top: 5px;
      margin-left: 0;
      width: 100%;
    }
  }
}