.form-with-info{
  display: flex;
  align-items: flex-start;

  &__form{
    width: 47.5%;
    flex-shrink: 0;
    max-width: 280px;
  }

  &__info{
    margin-top: 24px;
    margin-left: auto;
    max-width: 490px;
  }
}