.row-slider{
  display: flex;

  &__title{
    font-size: @fz-5;
    font-weight: @fw-bold;
    line-height: 1;
    color: @c-main-black;
  }

  &__slider-wrap{
    position: relative;
  }

  &__lower-value, &__upper-value{
    position: absolute;
    top: 20px;
    font-size: @fz-7;
    line-height: 1;
    color: @c-minor-text;
  }

  &__lower-value{
    left: 0;
  }

  &__upper-value{
    right: 0;
  }

  &__value-wrap{
    width: 185px;
  }

  &__input{
    height: 50px;
    width: 110px;
    padding: 0 10px;
    font-size: @fz-3;
    border: 1px solid #999999;
    border-radius: @border-radius;
    color: @c-main-black;
    text-align: right;
  }

  &__value-unit{
    margin-left: 10px;
    font-size: @fz-5;
    font-weight: @fw-bold;
    line-height: 1;
    color: @c-main-black;
  }
}