.row-slider{
  display: flex;
  align-items: center;

  &__title{
    width: 120px;
    font-size: @fz-5;
    font-weight: @fw-bold;
    line-height: 1;
    color: @c-main-black;
  }

  &__slider-wrap{
    position: relative;
    padding: 0 25px;
    flex-grow: 1;
  }

  &__slider{
    height: 10px;
  }

  &__lower-value, &__upper-value{
    position: absolute;
    top: 20px;
    font-size: @fz-7;
    line-height: 1;
    color: @c-minor-text;
    user-select: none;
  }

  &__lower-value{
    left: 0;
  }

  &__upper-value{
    right: 0;
  }

  &__value-wrap{
    margin-left: 30px;
    width: 180px;
  }

  &__input{
    height: 50px;
    width: 110px;
    padding: 0 10px;
    font-size: @fz-3;
    border: 1px solid #999999;
    border-radius: @border-radius;
    color: @c-main-black;
    text-align: right;
  }

  &__value-unit{
    margin-left: 5px;
    font-size: @fz-5;
    font-weight: @fw-bold;
    line-height: 1;
    color: @c-main-black;
  }

  &__select-wrap{
    display: none;
  }

  &__select{
    position: relative;
    width: 115px;
    padding: 0 10px;
    font-size: @fz-5;
    line-height: 34px;
    font-weight: @fw-bold;
    border: 1px solid #999999;
    border-radius: @border-radius;
    color: @c-main-black;
    box-shadow: @default-shadow;
    user-select: none;

    &::after{
      content: '';
      position: absolute;
      top: 12px;
      right: 10px;
      border: 5px solid transparent;
      border-top: 10px solid @c-main-black;
    }
  }
}