@media all and (max-width: 540px){
  .popup{
    max-width: none;
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;

    &__close{
      display: block;
    }

    &__close-x{
      display: none;
    }

    &__info-plate{
      margin-top: 10px;
    }

    &__loan-info{
      margin-top: 10px;
    }
  }
}