.popup{
  position: relative;
  max-width: 500px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 40px 40px 35px;
  background-color: #fff;
  text-align: left;

  &__container{}

  &__close{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 7px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: @c-minor-text;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    user-select: none;
  }

  &__close-x{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    cursor: pointer;

    &:hover{
      &::before, &::after{
        background-color: #333333;
      }
    }

    &::before, &::after{
      content: '';
      position: absolute;
      top: 7px;
      right: 21px;
      height: 30px;
      width: 2px;
      border-radius: 5px;
      background-color: #cccccc;
      transition: .1s;
    }

    &::before{
      transform: rotateZ(45deg);
    }

    &::after{
      transform: rotateZ(-45deg);
    }
  }


  &__title{
    text-align: center;
  }

  &__text{
    margin-top: 10px;
    font-size: @fz-5;
    line-height: @lh-for-small;
    color: @c-text;
    text-align: center;
  }

  &__input-btn-row{
    margin-top: 20px;
  }

  &__form{
    margin: 20px auto 0;
    max-width: 280px;
  }

  &__2-col{
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
  }

  &__link-wrap{}

  &__info-plate{
    margin-bottom: 10px;
  }

  &__loan-info{
    margin-top: 15px;
  }

  &__hr{
    margin: 25px -40px 0;
    border: none;
    height: 1px;

    .dashed-upline(#cccccc);
  }

  &__close-btn-wrap{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  &__close-btn{}
}