@media all and (max-width: @mq-popup-mobile+100){
  .popup{
    &--long{
      max-width: 500px;
    }
  }
}


@media all and (max-width: @mq-popup-mobile){
  .popup{
    max-width: none;
    min-height: 100%;
    padding: 55px 20px 40px;
    border-radius: 0;

    &__close{
      display: block;
    }

    &__close-x{
      display: none;
    }

    &__info-plate{
      margin-top: 10px;
    }

    &__loan-info{
      margin-top: 10px;
    }

    &__hr{
      margin: 15px -20px 0;
    }

    &__checkbox-wrap{
      margin-top: 15px;
    }

    &__btn-wrap{
      margin-top: 20px;
    }
  }
}