@media all and (max-width: 540px){
  .popup{
    max-width: none;
    min-height: 100%;
    padding: 55px 20px 40px;

    &__close{
      display: block;
    }

    &__close-x{
      display: none;
    }

    &__info-plate{
      margin-top: 10px;
    }

    &__loan-info{
      margin-top: 10px;
    }

    &__hr{
      margin: 15px -20px 0;
    }

    &__close-btn-wrap{
      margin-top: 20px;
    }
  }
}