@media all and (max-width: 600px) {
  .reviews {
    &__wrapper {
      margin: 30px auto 0;
      padding: 20px;
      flex-wrap: wrap;
      max-width: 470px;
    }

    &__author {
      width: 100%;
    }

    &__author-img-wrap {
      margin: 0 auto;
    }

    &__text {
      margin-top: 20px;
      padding-left: 0;
    }
  }
}
