.reviews{
  padding: 45px 0 50px;
  font-size: 16px;

  &__title{
    margin: 0;
    text-align: center;
  }
  
  &__wrapper{
    margin-top: 20px;
    padding: 40px 40px 50px;
    max-width: 100%;
    display: flex;
    border-radius: 15px;
    background: #fff;
    color: #333333;
  }
  
  &__author{
    width: 160px;
    flex-shrink: 1;
    text-align: center;
  }
  
  &__author-img-wrap{
    width: 160px;
    height: 160px;
    font-size: 0;
  }
  
  &__author-img{
  }
  
  &__name{
    margin-top: 15px;
    font-weight: 700;
  }
  
  &__date{}
  
  &__text{
    margin-top: -0.4em;
    padding-left: 40px;
  }
  
  &__your-review{
    margin: 30px auto 0;
    max-width: 520px;
    text-align: center;
    color: #333333;
  }
  
  &__your-review-title{
    font-size: 24px;
    font-weight: 700;
  }
  
  &__your-review-text{
    margin-top: 8px;
  }
  
  &__btn-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__btn{
  }
}