.ui-slider{
  position: relative;
  height: 10px;

  &::before, &::after{
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    height: 100%;
  }

  &::before{
    right: -25px;
    border-radius: 5px;
    background-color: #cccccc;
  }

  &::after{
    width: 30px;
    border-radius: 5px 0 0 5px;
    background-color: #ffde9b;
  }
}

.ui-slider-handle{
  position: absolute;
  top: -20px;
  margin-left: -25px;
  z-index: 2;
  height: 50px;
  width: 50px;
  border: 2px solid #996500;
  border-radius: 50%;
  background-color: @c-yellow;
  cursor: pointer;
  touch-action: none;

  &::before{
    content: attr(data-amount);
    position: absolute;
    z-index: 0;
    top: -24px;
    left: -20px;
    max-width: 85px;
    width: 85px;
    padding: 3px 0;
    color: #333;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-radius: @border-radius;
    background: #f3eedc;
  }

  &::after{
    content: '...';
    position: absolute;
    left: 11px;
    top: 13px;
    font-size: 36px;
    line-height: 0;
    letter-spacing: -0.05em;
    color: #996500;
    user-select: none;
  }

  &:hover{
    background-color: @c-yellow-hover;
  }

  &:focus{
    outline: none;
    background-color: @c-yellow-hover;
  }
}

.ui-slider-range{
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  border: 0;
  background: #ffde9b;
}

.ui-slider-range-min{
  left: 0;
}

.ui-slider-range-max{
  right: 0;
}

.ui-widget-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled{
  cursor: default !important;
  pointer-events: none;

  /* support: IE8 - See #6727 */
  .ui-slider-range, .ui-slider-handle{
    filter: inherit;
  }
}