@media all and (max-width: 700px) {
  .processing{
    &__logo-wrap{
      padding-top: 30px;
    }
  }
}

@media all and (max-width: 680px) {
  .processing{
    &__card-sides{
      max-width: 440px;
    }

    &__back-side{
      position: static;
      margin-top: 30px;
    }

    &__btn-wrap{
      margin-top: 40px;
    }
  }
}

@media all and (max-width: 560px) {
  .processing{
    &__protects-list{
      margin-top: 25px;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__protects-item{
      width: 42%;
      text-align: center;

      &:nth-child(n+3){
        margin-top: 15px;
      }
    }
  }
}

@media all and (max-width: 440px) {
  .processing{
    &__card-sides{
      max-width: 300px;
    }

    &__back-side{
      margin-top: 17px;
    }

    &__btn-wrap{
      margin-top: 20px;
      padding: 0 10px;
    }

    &__logo-wrap{
      margin-top: 20px;
      padding-top: 30px;
    }

    &__protects-item{
      &:nth-child(n+3){
        margin-top: 10px;
      }
    }

    &__protect-logo{
      max-width: 110px;
      max-height: 34px;
    }
  }
}

@media all and (max-width: 425px) {
  .processing{
    &__data-protect{
      font-size: 14px;
    }
  }
}