.restruct-3-col{
  display: flex;
  justify-content: space-between;

  &__item{
    font-size: @fz-5;
    line-height: @lh-for-small;
    color: @c-main-black;
  }

  &__item-title{
    font-weight: @fw-bold;
  }

  &__item-text{}
}