.select-wth-label{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text{
    font-size: @fz-5;
    line-height: @lh-for-small;
    font-weight: @fw-bold;
    color: @c-main-black;
  }

  &__select-wrap{
    margin-left: 20px;
    flex-grow: 1;
  }

  &__select{
    width: 100%;
  }
}