.where-promocode{
  line-height: 40px;
  font-size: @fz-5;
  text-align: center;

  &__container{
    position: relative;
    text-align: center;
  }

  &__text-wrap{
    display: none;
  }

  &__text{
  }

  &__link{
    font-size: @fz-6;
    letter-spacing: .01em;
    white-space: nowrap;

    &:hover{
      cursor: pointer;
    }
  }

  &__socials{
    margin-top: 13px;
  }

  &__social-item{
    display: inline-block;
    width: 40px;
    height: 40px;

    & + &{
      margin-left: 11px;
    }

    &--vk{
      background: url("/images_new/vk-promo.svg") no-repeat center;
    }

    &--fb{
      background: url("/images_new/fb-promo.svg") no-repeat center;
    }

    &--inst{
      background: url("/images_new/inst-promo.svg") no-repeat center;
    }
  }

  &.is-open{
    .where-promocode{
      &__text-wrap{
        display: block;
        position: absolute;
        top: -161px;
        left: ~'calc(50% - 160px)';
        margin: 0 10px;
        padding: 15px 20px;
        z-index: 1000000;
        width: 300px;
        border-radius: @border-radius;
        text-align: center;
        background: #f5eedb;
      }

      &__text{
        margin: 0;
        color: @c-main-black;

        &::after{
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -10px;
          width: 0;
          height: 0;
          border-top: solid 10px #f5eedb;
          border-left: solid 10px transparent;
          border-right: solid 10px transparent;
        }
      }

      &__link{
        z-index: 1000000;
        background: none;
        color: #ffffff;
        position: relative;
      }
    }
  }
}