.how-get-money{
  background: #fff;
  font-size: 16px;

  &__container{
    max-width: 775px;
    margin: 0 auto;
    padding: 45px 0 50px;
  }

  &__title{
    margin: 0;
    text-align: center;
  }

  &__items{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: #333333;
  }

  &__item{
    max-width: 220px;
    text-align: center;
  }

  &__item-img-wrap{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    font-size: 0;
  }

  &__item-img{
  }

  &__subtitle{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  &__text{
    margin-top: 5px;
  }

  &__working-time{
    margin-top: 10px;
    display: inline-block;
    padding: 1px 4px;
    line-height: 1;
    background-color: #ffe6b0;
    border-radius: 2px;
    border: 1px solid #cc9933;
  }

  &__warning{
    margin: 40px auto 0;
    padding: 20px;
    max-width: 540px;
    text-align: center;
    background: #f6efdc;
    border-radius: 5px;
    color: #333333;
  }

}