.icon-before{
  &:before{
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin-right:10px;
    position: relative;
    top: 2px;
  }
  &--question:before{
    background-image: url(/images/help-icon.svg);
  }
}