.calculator{
  &__advantages-wrap{
    padding-bottom: 15px;
    background-color: @c-bg;
  }

  &__advantages{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 620px;
    font-size: @fz-6;
    color: @c-text;
  }

  &__advantages-item{
    & + &{
      position: relative;
      padding-left: 12.5px;
      margin-left: 7.5px;
      //margin-left: 20px;

      &::before{
        content: '\2022';
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__container{
  }

  &__title{
    margin: auto;
    max-width: 700px;
    padding: 20px 10px 0;
    text-align: center;
  }

  &__sliders-list{
    margin: 45px auto 0;
    max-width: 620px;
  }

  &__sliders-list-item{
    & + &{
      margin-top: 45px;
    }
  }

  &__btns-list{
    display: none;
    margin: 20px auto 0;
    max-width: 620px;
  }

  &__btns-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    font-size: @fz-3;
    line-height: 1;
    border: 1px solid #999999;
    border-radius: @border-radius;
    box-shadow: @default-shadow;

    & + &{
      margin-top: 20px;
    }
  }

  &__btn-name{
    font-weight: @fw-bold;
    color: @c-main-black;
  }

  &__btn-value{
    color: @c-text;
  }

  &__result-row{
    margin-top: 40px;
    padding: 15px 0 25px;
    background: @dashed-upline-gr;
  }

  &__result-row-container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 620px;
  }

  &__info{
    display: flex;
  }

  &__info-col{
    position: relative;
    line-height: 1;

    & + &{
      margin-left: 30px;
    }
  }

  &__info-col-title{
    font-size: @fz-6;
    color: @c-text;
  }

  &__info-col-value{
    margin-top: 7px;
    font-size: 22px;
    color: @c-main-black;
  }

  &__info-col-old-value{
    position: absolute;
    top: calc(100% + 5px);
    font-size: @fz-6;
    color: @c-main-red;
    background: linear-gradient(to right, @c-main-red, @c-main-red 100%) repeat-x ~'0 50% / 1px 1px';
  }

  &__give-btn-wrap{
    width: 180px;
  }

  &__give-btn{}

  &__promocode{
    margin: auto;

    & + .calculator__discounts{
      background: @dashed-upline-gr, #f6efdc;
    }
  }

  &__discounts{}

  &__stock{
    position: relative;
  }

  &__stock-img-wrap{}

  &__stock-img{
    display: block;
    margin: auto;
  }

  &__stock-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__loan-detail{
    padding: 20px;
    background-color: @c-info-bg;
  }

  &__loan-detail-text{
    margin: auto;
    max-width: 570px;
    font-size: @fz-6;
    line-height: @lh-for-small;
    color: @c-text;
    text-align: center;
  }
}